<ion-view view-title="My Profile">
  <ion-content>
  	<div class="item item-text-wrap">
			<ul class="list">

			    <li class="item">
			      <h2>Full Name</h2>
			      <p>Ravi Govindasami</p>
			    </li>
			    <li class="item">
			      <h2>Club Name</h2>
			      <p>Fireball Club</p>
			    </li>
			    <li class="item">
			      <h2>Address</h2>
			      <p>Back off, man. I'm a scientist.</p>
			    </li>
			    <li class="item">
			      <h2>Participated tournaments</h2>
			      <p>40</p>
			    </li>
			    <li class="item">
			      <h2>Own tournaments</h2>
			      <p>4</p>
			    </li>

			</ul>
		</div>
  </ion-content>
</ion-view>
