/* Empty. Add your own CSS if you like */
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
.pane, .view {
	background:#ddd;
}
[nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar {
    background: #2f2f2f;
}
.bar.bar-stable {
    border-color: #26a69a;
    background-color: #0C0C0C;
    background-image: linear-gradient(0deg, #26a69a, #26a69a 50%, transparent 50%);
    color: #333;
}
textarea {
    resize: none;
    line-height: 1.5em;
}
.upcoming_events{margin-top: 5px;}
.item-input{padding-left: 10px;}
.input-label{ width: 40%;}
.matchTypes{ background: #ccc;}
.addButton{ text-align: center;}
.addButton button{ border-radius: 50%; width: 52px; height: 52px;}

@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");
@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
    
    
    .event-list {
		list-style: none;
		font-family: 'Lato', sans-serif;
		margin: 0px;
		padding: 0px;
	}
	.event-list > li {
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 0px 5px rgb(51, 51, 51);
		box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
		padding: 0px;
		margin: 0px 0px 20px;
	}
	.event-list > li > time {
		display: inline-block;
		width: 100%;
		color: rgb(255, 255, 255);
		padding: 5px;
		background-color: #B9607E;
		text-align: center;
		text-transform: uppercase;
	}
	/*.upcoming_events time:nth-child(even) {background-color: #fff;}
	.upcoming_events time:nth-child(odd) {background-color: #886aea;}*/
	
	.event-list > li:nth-child(even) > time {
		background-color: #59436A;
	}
	.event-list > li > time > span {
		xdisplay: none;
		font-size: 18px;
	}
	.event-list > li > time > .day {
		display: block;
		font-size: 56pt;
		font-weight: 100;
		line-height: 1;
	}
	.event-list > li time > .month {
		display: block;
		font-size: 24pt;
		font-weight: 900;
		line-height: 1;
	}
	.event-list > li > img {
		width: 100%;
	}
	.event-list > li > .info {
		padding-top: 5px;
		text-align: center;
	}
	.event-list > li > .info > .title {
		font-size: 17pt;
		font-weight: 700;
		margin: 0px;
		color: #B9607E;
	}
	.event-list > lili:nth-child(even) > .info > .title{
		color: #59436A;
	}
	.event-list > li > .info > .desc {
		font-size: 5vw;
	    font-weight: 300;
	    margin: 0 10px;
	    text-align: center;
	}
	.event-list > li > .info > ul,
	.event-list > li > .social > ul {
		display: table;
		list-style: none;
		margin: 10px 0px 0px;
		padding: 0px;
		width: 100%;
		text-align: center;
	}
	.event-list > li > .social > ul {
		margin: 0px;
	}
	.event-list > li > .info > ul > li,
	.event-list > li > .social > ul > li {
		display: table-cell;
		cursor: pointer;
		color: rgb(30, 30, 30);
		font-size: 4vw;
		font-weight: 400;
		width: 50%;
		text-align: left;
		text-indent: 5px;
        padding: 10px 0px;
        border-bottom: 1px dashed #ccc;
	}
	.event-list > li > .info > ul > li:nth-child(2){
		text-align: right;
		padding-right: 10px;
	}
    .event-list > li > .info > ul > li > a {
		display: block;
		width: 100%;
		color: rgb(30, 30, 30);
		text-decoration: none;
	} 
    .event-list > li > .social > ul > li {    
        padding: 0px;
    }
    .event-list > li > .social > ul > li > a {
        padding: 3px 0px;
	} 
	.event-list > li > .info > ul > li:hover,
	.event-list > li > .social > ul > li:hover {
		color: rgb(30, 30, 30);
		background-color: rgb(200, 200, 200);
	}
	.facebook a,
	.twitter a,
	.google-plus a {
		display: block;
		width: 100%;
		color: rgb(75, 110, 168) !important;
	}
	.twitter a {
		color: rgb(79, 213, 248) !important;
	}
	.google-plus a {
		color: rgb(221, 75, 57) !important;
	}
	.facebook:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(75, 110, 168) !important;
	}
	.twitter:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(79, 213, 248) !important;
	}
	.google-plus:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(221, 75, 57) !important;
	}

	@media (min-width: 768px) {
		.event-list > li {
			position: relative;
			display: block;
			width: 100%;
			height: 120px;
			padding: 0px;
		}
		.event-list > li > time,
		.event-list > li > img  {
			display: inline-block;
		}
		.event-list > li > time,
		.event-list > li > img {
			width: 120px;
			float: left;
		}
		.event-list > li > .info {
			background-color: rgb(245, 245, 245);
			overflow: hidden;
		}
		.event-list > li > time,
		.event-list > li > img {
			width: 120px;
			height: 120px;
			padding: 0px;
			margin: 0px;
		}
		.event-list > li > .info {
			position: relative;
			height: 120px;
			text-align: left;
			padding-right: 40px;
		}	
		.event-list > li > .info > .title, 
		.event-list > li > .info > .desc {
			padding: 0px 10px;
		}
		.event-list > li > .info > ul {
			position: absolute;
			left: 0px;
			bottom: 0px;
		}
		.event-list > li > .social {
			position: absolute;
			top: 0px;
			right: 0px;
			display: block;
			width: 40px;
		}
        .event-list > li > .social > ul {
            border-left: 1px solid rgb(230, 230, 230);
        }
		.event-list > li > .social > ul > li {			
			display: block;
            padding: 0px;
		}
		.event-list > li > .social > ul > li > a {
			display: block;
			width: 40px;
			padding: 10px 0px 9px;
		}
	}




.change_password .input-label{ width: auto; }


/* circle progress */
.cf:before,
        .cf:after {
            content: " ";
            display: table;
        }

        .cf:after {
            clear: both;
        }

        .progress-wrapper{
            position: relative;
            margin:20px auto;
            font-size: 50px;
        }

        .progress{
            position: absolute;
            color: #6184DB;
            font-weight: 300;
            line-height: 1;
            top: 50%;
		    bottom: auto;
		    left: 50%;
		    transform: translateY(-50%) translateX(-50%);
        }
        .past{ color: #ef473a; }

        .container{
            width: 100%;
            max-width: 960px;
            margin:50px auto 100px;
            text-align: center;
        }

        button{
            display: inline-block;
            padding: 10px 20px;
            background: #45ccce;
            color:#fff;
            font-size: 16px;
            border:none;
            cursor: pointer;
            border-radius: 4px;
            text-align: center;
            margin: 0 5px 5px 0;
        }

        form{
            text-align: left;
            max-width: 350px;
            margin: 30px auto;
        }

        form > div{
            margin-bottom: 15px;
        }

        input, select{
            float:right;
            padding: 5px;
            width: 150px;
        }

        .back{
            position: fixed;
            top:5px;
            right:5px;
        }

        @media(max-width: 480px){
            .back{
                position: static;
                display: block;
                text-align: center;
            }

            input, select{
                width: 100%;
                margin-top: 5px;
                float:none;
            }

            .container{
                margin-top: 25px;
            }
        }
.bar.bar-stable .title {
    color: #FFF;
}
.bar-stable .button.button-clear {
    color: #FFF;
}
/*.dash_bg{background:#ccc url("../img/dashboard_1.jpg") no-repeat center top /cover; }*/
.dash_bg:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  
  display: block;
  background-image: url('../img/dashboard_1.jpg');
  background-size:cover;
  background-position: center top;
  width: 100%;
  height: 100%;
  
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

.dash_bg {
  overflow-y: auto;
}

.dash_bg .item{ background: transparent; border: 0; }


.ion-google-place-container{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    display: none;
}


input.ion-google-place[readonly]{
    background-color: transparent;
    cursor: text;
}
/*Sign Up*/

.signupPage{
	height: 100%;
	width: 100%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cb60b3+0,c146a1+37,c146a1+37,a80077+56,db36a4+100 */
background: #cb60b3; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #cb60b3 0%, #c146a1 37%, #c146a1 37%, #a80077 56%, #db36a4 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #cb60b3 0%,#c146a1 37%,#c146a1 37%,#a80077 56%,#db36a4 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #cb60b3 0%,#c146a1 37%,#c146a1 37%,#a80077 56%,#db36a4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#db36a4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.signupPage .list{
	width: 80%;
	margin:0 auto;
}
.signupPage .item{
	margin-bottom: 10px;
    background: #fff;
}
.logo_section{
	height: 180px; width: 100%; display: table; 
}
.logo_section h2{
	font-size: 12vw;
	color: #fff;
	display: table-cell;
    text-align: center;
    width: 100%;
    vertical-align: middle;
}
.logo_section h2 label{
	font-size: 6vw;
}

.button.button-custom {
    border-color: transparent;
    background-color: #dc7ec5;
    color: #fff;
}
.resendotp{ color: #fff; font-size: 14px}
.resendotp a{ color: #a4e8fb; font-size: 15px}




.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
.upcoming_events h4{border-left:0px;}
.upcoming_events .item{ border-bottom: 1px dashed #ccc; border-style: dashed;border-right: 1px solid gray;
    border-left: 1px solid gray}
.upcoming_events .item.active.item-stable{background-color: rgba(229, 229, 229, 0.31);}
.upcoming_events .more{border-bottom: 0px !important;border-left: 0px !important;border-right: 0px !important;}

