page-dashboard-home {
    .scroll-content {
        overflow-y: auto;
        overflow-x: hidden;
    }
    .homepage super-tab-button {
        font-size: 12px !important;
        text-transform: capitalize !important;
    }
}