.content-md {
    background: color($colors, light);
}

button:focus {
    box-shadow: none !important;
    border-color: rgba(0, 0, 0, 0) !important;
    outline: none !important;
}

a {
    &:link,
    &:hover,
    &:visited,
    &:active {
        outline: none !important;
    }
}

.networkAlert {
    font-size: 14px !important;
    text-align: center;
}

.alert-md .alert-checkbox-label {
    white-space: normal !important;
}

.networkAlertBtn {
    width: 100%;
    text-align: center !important;
    background: #ccc;
    span {
        display: block;
        color: #fff;
    }
}